/* Buttons Component */
.btn {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-4);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding-y) var(--button-padding-x);
  font-weight: var(--button-font-weight);
  border: none;
  cursor: pointer;
  font-size: var(--button-font-size);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-text-on-primary);
  box-shadow: var(--shadow-6xl);
}

.btn-secondary {
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-pill);
  padding: var(--button-padding-y-sm) var(--button-padding-x-sm);
  background: transparent;
  color: var(--color-primary);
  font-weight: var(--button-font-weight);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

